div{
    background-color: red;
    width: 100px;
    height: 100px;
}
p{
    background-color: blue;
    width: 50%;
    height: 50%;
}
div p:first-child{
    margin-left: 50%;
    margin-bottom: 0;
}
div p:last-child{
    margin: 0;
}
