div{
    border: 2px solid #000;
}
/* tablet */
@media(min-width: 768px){
    div{
        border: 2px solid #000;
    }
    .second{
        float: left;
        width: 30%;
    }
    .third{
        float: right;
        width: 30%;
    }
    .fourth{
        margin-left: 30%;
        margin-right: 30%;
    }
}
/* desktop */
@media(min-width: 991px){
    div{
        border: 2px solid #000;
    }
    .second{
        float: left;
        width: 20%;
    }
    .third{
        float: right;
        width: 20%;
    }
    .fourth{
        margin-left: 25%;
        margin-right: 25%;
    }
}